@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  width: 1170px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

.header {
  background-color: #333333;
}
.header__content {
  align-items: center;
  height: 45px;
  display: flex;
  color: #777777;
  justify-content: space-between;
  font-size: 13px;
  font-family: Montserrat;
  font-weight: 500;
}
.header__right-block {
  display: flex;
  align-items: center;
}
.header__block1 {
  display: flex;
}
.header__block2 {
  width: 134px;
  display: flex;
  justify-content: space-between;
  margin-right: 82px;
}
.header__block3 {
  display: flex;
  background-color: #00c8c8;
  height: 45px;
  width: 147px;
  justify-content: center;
  align-items: center;
}
.header__register {
  color: #999999;
}
.header__sign-in {
  color: #999999;
}
.header__cart {
  margin-left: 22px;
  color: #fff;
  margin-right: 8px;
}

.cart__img {
  width: 20px;
  height: 17px;
}

.main__content {
  margin: 0 10px;
}
.main__right-block {
  display: flex;
}
.main__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
  max-width: 1780px;
  margin: 0 auto;
  margin-bottom: 240px;
}
.main__logo {
  width: 237px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.main__logo span {
  font-weight: 900;
}
.main__item {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
}
.main__search {
  border: 1px solid #e7e7e7;
  width: 190px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__title {
  font-size: 450px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  color: #575153;
  text-align: center;
}
.main__button {
  font-size: 16px;
  border: 2px solid #737373;
  color: #454647;
  width: 342px;
  height: 59px;
  text-transform: uppercase;
  font-weight: 700;
  float: right;
  margin: 60px 200px 0px 0px;
}
.main__img {
  position: absolute;
  z-index: -1;
  left: 300px;
  top: 40px;
}

.menu__inner {
  width: 595px;
  display: flex;
  justify-content: space-between;
  margin-right: 115px;
  align-items: center;
}
.menu__item {
  text-transform: uppercase;
  font-weight: 500;
}

i {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.search__input {
  background-color: #f8f8f8;
}

.V {
  padding: 0 170px 0 170px;
}

body {
  background-color: #f8f8f8;
}

.imgArrow {
  display: block;
  margin-top: 11px;
  cursor: pointer;
}