@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto&display=swap');
@import 'nullstyle';

.container {
    width: 1170px;
    margin: 0 auto;
}
.wrapper {}
.header {
    background-color: #333333;
    &__content {
        align-items: center;
        height: 45px;
        display: flex;
        color: #777777;
        justify-content: space-between;
        font-size: 13px;
        font-family: Montserrat;
        font-weight: 500;
    }
    &__right-block {
        display: flex;
        align-items: center;
    }
    &__block1 {
        display: flex;
        
    }
    &__block2 {
        width: 134px;
        display: flex;
        justify-content: space-between;
        margin-right: 82px;
    }
    &__block3 {
        display: flex;
        background-color: #00c8c8;
        height: 45px;
        width: 147px;
        justify-content: center;
        align-items: center;
    }
    &__select {}
    &__option {}
    &__register {
        color: #999999;
    }
    &__sign-in {
        color: #999999;
    }
    &__cart {
        margin-left: 22px;
        color: #fff;
        margin-right: 8px;
    }
}
.cart {
    &__img {
        width: 20px;
        height: 17px;
    }
}
.main {
    &__content {
        margin: 0 10px;
    }
    &__menu {
        padding-top: 37px;
        width: 1780px;
        margin: 0 auto;
    }
    &__logo {
        color: #222222;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        span {
            font-weight: 900;
        }
    }
    &__inner {}
    &__item {}
    &__search {}
    &__input {}
    &__title {}
    &__button {}
}
i {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}