@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto&display=swap');
@import 'nullstyle';

.container {
    width: 1170px;
    margin: 0 auto;
}
.wrapper {
    overflow: hidden;
}
.header {
    background-color: #333333;
    &__content {
        align-items: center;
        height: 45px;
        display: flex;
        color: #777777;
        justify-content: space-between;
        font-size: 13px;
        font-family: Montserrat;
        font-weight: 500;
    }
    &__right-block {
        display: flex;
        align-items: center;
    }
    &__block1 {
        display: flex;
        
    }
    &__block2 {
        width: 134px;
        display: flex;
        justify-content: space-between;
        margin-right: 82px;
    }
    &__block3 {
        display: flex;
        background-color: #00c8c8;
        height: 45px;
        width: 147px;
        justify-content: center;
        align-items: center;
    }
    &__select {}
    &__option {}
    &__register {
        color: #999999;
    }
    &__sign-in {
        color: #999999;
    }
    &__cart {
        margin-left: 22px;
        color: #fff;
        margin-right: 8px;
    }
}
.cart {
    &__img {
        width: 20px;
        height: 17px;
    }
}
.main {
    &__content {
        margin: 0 10px;
    }
    &__right-block {
        display: flex;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        padding-top: 37px;
        max-width: 1780px;
        margin: 0 auto;
        margin-bottom: 240px;
    }
    &__logo {
        width: 237px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        span {
            font-weight: 900;
        }
    }
    &__item {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
    }
    &__search {
        border: 1px solid #e7e7e7;
        width: 190px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__input {}
    &__title {
        font-size: 450px;
        font-family: Montserrat;
        font-weight: 700;
        text-transform: uppercase;
        color: #575153;
        text-align: center;
    }
    &__button {
        font-size: 16px;
        border: 2px solid #737373;
        color: #454647;
        width: 342px;
        height: 59px;
        text-transform: uppercase;
        font-weight: 700;
        float: right;
        margin: 60px 200px 0px 0px;

    }
    &__img {
        position: absolute;
        z-index: -1;
        left: 300px;
        top: 40px;
    }
}
.menu {
    &__inner {
        width: 595px;
        display: flex;
        justify-content: space-between;
        margin-right: 115px;
        align-items: center;
    }
    &__item {
        text-transform: uppercase;
        font-weight: 500;
    }
}
i {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.search {
    &__input {
        background-color: #f8f8f8;
    }
} 

.V {
    padding: 0 170px 0 170px;
}

body {
    background-color: #f8f8f8;
}

.imgArrow {
    display: block;
    margin-top: 11px;
    cursor: pointer;
}